:root {
    /* Colors */
    --color-white: #ffffff;
    --color-white-light: #f9f9f9;
    --color-text-white: #e5e7eb;

    --color-text-black: #242424;
    --color-text-black-deep: #111827;
    --color-gray-200: #242424;
    --color-slate-900: #0f172a;
    --color-slate-950: #020617;
    --color-slate-700: #334155;

    /* Font sizes */
    --font-text: 1rem;
    --font-h1: 2.25rem;
    --font-h2: 1.75rem;
    --font-h3: 1.375rem;
}